In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

from imblearn.over_sampling import RandomOverSampler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.feature_selection import SelectKBest, chi2
from tqdm.notebook import tqdm
from sklearn import metrics
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('parkinson_disease.csv')

In [3]:
df.shape

(757, 755)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Columns: 755 entries, Unnamed: 0 to Unnamed: 754
dtypes: object(755)
memory usage: 4.4+ MB

In [5]:
df.describe()

,Unnamed: 0,Unnamed: 1,Baseline Features,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 745,Unnamed: 746,Unnamed: 747,Unnamed: 748,Unnamed: 749,Unnamed: 750,Unnamed: 751,Unnamed: 752,Unnamed: 753,Unnamed: 754
count,757,757,757,757,757,757,757,757,757,757,...,757,757,757,757,757,757,757,757,757,757
unique,253,3,741,746,749,316,320,756,647,359,...,750,756,753,754,750,753,754,754,755,3
top,125,1,0.82273,0.80616,0.45816,237,236,0.006004477,3.88E-05,0.00076,...,1.5382,4.0251,2.8454,4.2105,4.2973,3.1144,12.595,4.2391,10.0693,1
freq,3,390,3,2,2,9,8,2,3,9,...,2,2,2,2,2,2,2,2,2,564

Data Cleaning

In [6]:
df = df.groupby('id').mean().reset_index()
df.drop('id', axis=1, inplace=True)

KeyError: 'id'